{% extends 'base_error.html.twig' %}

{% block title %}{{ status_code }} {{ status_text }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/errors.css') }}">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 mb-4">Un problème est survenu !</h1>
            <h2 class="lead mb-4"><i class="fas fa-exclamation-triangle"></i> {{ status_code }} {{ status_text }}</h2>
            <p class="lead mb-0 text-justify">Vérifiez que vous n'avez pas trop bu et <a href="mailto:{{ admin_mail }}">contactez</a> l'administrateur du site.</p>
        </div>
    </div>
{% endblock %}