{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="alert alert-light">
        <h1 class="display-4">Ajouter un nouvel utilisateur</h1>
    </div>
  
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.roles) }}

        <div class="input-group">
            <button class="btn btn-success btn-block btn-lg" type="submit"><i class="fas fa-plus-circle"></i> Créer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
