{% extends 'base.html.twig' %}

{% block title %}{{ "Recharger " ~ pseudo }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('accounts_refill') }}
{% endblock %}

{% block body %}
    <div class="alert alert-light center">
        <h1 class="display-4">Recharger le compte : {{ pseudo }}</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_label(form.amount, 'Montant du rechargement') }}
            {{ form_widget(form.amount) }}

            <div class="input-group w-100 my-2">
                <div class="btn-group btn-group-toggle mx-auto" data-toggle="buttons">
                    <label id="methodCash" class="btn btn-outline-success active">
                        <input type="radio" autocomplete="off" checked>
                        <i class="fa fa-money-bill-alt"></i> <span class="d-none d-sm-none d-md-inline">Liquide</span>
                    </label>

                    <label id="methodPumpkin" class="btn btn-outline-success">
                        <input type="radio" autocomplete="off">
                        <i class="fa fa-mobile-alt"></i> <span class="d-none d-sm-none d-md-inline">Pumpkin</span>
                    </label>

                    <label id="methodCB" class="btn btn-outline-success">
                        <input type="radio" autocomplete="off">
                        <i class="fa fa-credit-card"></i> <span class="d-none d-sm-none d-md-inline">CB</span>
                    </label>
                </div>
            </div>

            <input id="methode-paiement" name="methode" value="cash" hidden/>

            <button type="submit" class="btn btn-success btn-block"><i class="fa fa-gas-pump" aria-hidden="true"></i>
                Recharger
            </button>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
