{% extends 'base.html.twig' %}

{% block title %}Compte - {{ account.pseudo }}{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('accounts_show') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('accounts_show') }}
{% endblock %}

{% block body %}
    <div class="alert alert-light container-fluid mx-0 w-100">
        <div class="row px-2">
            <h1 class="display-4">{{ account.pseudo }}</h1>
            <div class="spacer"></div>
            <div class="btn-group heading-actions" role="group">
                <a class="btn btn-outline-success my-2" href="{{ path('accounts_edit', {'id': account.id}) }}">
                    <i class="fas fa-edit"></i>&nbsp;Modifier
                </a>
                <a class="btn btn-outline-warning my-2" href="{{ path('accounts_refill', {'id': account.id}) }}">
                    <i class="fas fa-gas-pump"></i>&nbsp;Recharger
                </a>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Prénom</th>
            <td>{{ account.firstName }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ account.lastName }}</td>
        </tr>
        <tr>
            <th>Solde</th>
            <td>{{ account.balance }}€</td>
        </tr>
        <tr>
            <th>Année</th>
            <td>{{ account.year }}A</td>
        </tr>
        <tr>
            <th>Nom de staff</th>
            <td>{{ account.staffName ? account.staffName : '-' }}</td>
        </tr>
        <tr>
            <th>Intronisé</th>
            <td>{{ account.isInducted ? 'Oui' : 'Non' }}</td>
        </tr>
        <tr>
            <th>Nb de transactions</th>
            <td>{{ account.transactions|length }}</td>
        </tr>
        </tbody>
    </table>


    {% if account.transactions|length > 0 %}
        {{ include('components/_datatable.htmls.twig', {datatable:datatable}) }}
    {% else %}
        Pas de transaction à afficher
    {% endif %}
{% endblock %}
