{% extends 'base.html.twig' %}

{% block title %}Achat{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/caisse.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.0/dist/instantsearch.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/autocomplete.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <form action="{{ path('purchase') }}" method="post">
        <div class="alert alert-secondary">
            <h4><i class="fas fa-beer"></i> Pressions</h4>
        </div>
        <div class="card-deck affichage-articles">
            {% for article in selected_drafts %}
                <div class="card pad-b">
                    <div class="card-body">
                        <h5 class="card-title center">{{ article.nom }} ({{ article.quantite }})</h5>
                        <input name="drafts[{{ loop.index }}][id]" value="{{ article.id }}" hidden="true">
                        <div class="input-group">
                            <input value="{{ article.prixVente }}" type="text" class="form-control" id="prix" disabled>
                            <div class="input-group-append">
                                <span class="input-group-text" id="inputGroupAppend">
                                    <i class="fa fa-euro-sign"></i>
                                </span>
                            </div>
                        </div>
                        <label for="qte">Quantité</label>
                        <div class="input-group add-delete-article">
                            <input type="number" min="0" step="1" class="qte form-control" autocomplete="" name="drafts[{{ loop.index }}][quantite]" value="0">
                            <div class="input-group-append">
                                <input type="text" class="qteStock" value="{{ article.quantite }}" hidden>
                                <span class="btn btn-outline-danger btn-value" id="moins">-</span>
                                <span class="btn btn-outline-success btn-value" id="plus">+</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="alert alert-secondary">
            <h4><img src="{{ asset('svg/si-glyph-fridge.svg') }}" style="height: 1.8rem;vertical-align: bottom;margin-left: -5px;"/>Bouteilles</h4>
        </div>
        <div class="row justify-content-md-center affichage-articles">
            {% for article in selected_bottles %}
                <div class="col-md-auto">
                    <div class="card pad-b">
                        <div class="card-body">
                            <h5 class="card-title center">{{ article.nom }} ({{ article.quantite }})</h5>
                            <input name="bottles[{{ loop.index }}][id]" value="{{ article.id }}" hidden="true">
                            <div class="input-group">
                                <input value="{{ article.prixVente }}" type="text" class="form-control" id="prix" disabled>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="inputGroupAppend">
                                        <i class="fa fa-euro-sign"></i>
                                    </span>
                                </div>
                            </div>

                            <label for="qte">Quantité</label>
                            <div class="input-group add-delete-article">
                                <input type="number" min="0" step="1" class="qte form-control" autocomplete="" name="bottles[{{ loop.index }}][quantite]" value="0">
                                <div class="input-group-append">
                                    <input type="text" class="qteStock" value="{{ article.quantite }}" hidden>
                                    <span class="btn btn-outline-danger btn-value" id="moins">-</span>
                                    <span class="btn btn-outline-success btn-value" id="plus">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="alert alert-secondary">
            <h4><i class="fas fa-cookie-bite"></i> Nourriture et autres</h4>
        </div>
        <div class="row justify-content-md-center affichage-articles">
            {% for article in selected_articles %}
                <div class="col-md-auto">
                    <div class="card pad-b">
                        <div class="card-body">
                            <h5 class="card-title center">{{ article.nom }} ({{ article.quantite }})</h5>
                            <input name="articles[{{ loop.index }}][id]" value="{{ article.id }}" hidden="true">
                            <div class="input-group">
                                <input value="{{ article.prixVente }}" type="text" class="form-control" id="prix" disabled>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="inputGroupAppend">
                                        <i class="fa fa-euro-sign"></i>
                                    </span>
                                </div>
                            </div>
                            <label for="qte">Quantité</label>
                            <div class="input-group add-delete-article">
                                <input type="number" min="0" step="1" class="qte form-control" autocomplete="" name="articles[{{ loop.index }}][quantite]" value="0">
                                <div class="input-group-append">
                                    <input type="text" class="qteStock" value="{{ article.quantite }}" hidden>
                                    <span class="btn btn-outline-danger btn-value" id="moins">-</span>
                                    <span class="btn btn-outline-success btn-value" id="plus">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="alert alert-success">
            <h4>Paiement</h4>
        </div>

        <div class="col-md-3">
            <label for="total">Total</label>
            <div class="input-group mb-3">
                <input class="form-control" type="text" id="total" name="total" value="0" placeholder="Total">
                <div class="input-group-append">
                    <span class="input-group-text">€</span>
                </div>
            </div>
        </div>

        {# Pour collapse le champ lors de la sélection d'une autre méthode sans recliquer sur le bouton Compte
        il faut faut un script js qui supprime l'attribut "show" de #collapseAccount lorsque #showAccount n'est
        n'a ni l'attribut "focus" ni "active" #}
        <div class="collapse pad-b" id="collapseAccount">
            <div class="form-group">
                <label class="form-control-label" for="search-input">Compte à débiter</label><br/>
                <input type="search" id="paying-account" class="form-control aa-input-search" placeholder="Rechercher un compte..." name="search" autocomplete="off" />
            </div>
        </div>
      
        <div class="col-md-3">
            <div class="input-group mb-3">
                <div class="btn-group btn-group-toggle moyen_paiement" data-toggle="buttons">

                    {# <label class="btn btn-success">
                        <input type="radio" id="option1">
                        <i class="fa fa-credit-card"></i> Carte Bleue
                    </label> #}

                    <label class="btn btn-success active" onclick="choixPaiement('cash')">
                        <input class="choix-paiement" type="radio" id="option1">
                        <i class="fa fa-money-bill-alt"></i> Liquide
                    </label>

                    <label class="btn btn-success" onclick="choixPaiement('account')" id="showAccount" data-toggle="collapse" data-target="#collapseAccount" aria-expanded="false" aria-controls="collapseAccount">
                        <input class="choix-paiement" type="radio" id="option2">
                        <i class="fa fa-id-badge"></i> Compte
                    </label>

                    <label class="btn btn-success" onclick="choixPaiement('pumpkin')">
                        <input class="choix-paiement" type="radio" id="option3">
                        <i class="fa fa-mobile-alt"></i> Pumpkin
                    </label>

                    <input id="methode-paiement" name="methode" value="cash" hidden>
                </div>
            </div>
        </div>
        <input type="hidden" name="userId" value="{{ app.user.id }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-success btn-lg btn-block">Payer</button>
    </form>
    </div>


{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/qteChecker.js') }}"></script>
<script src="{{ asset('js/methode-paiement.js') }}"></script>

<!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

<!-- Initialize autocomplete menu -->
{% raw %}
<script>
var client = algoliasearch('1ZO7CPQOBJ', '7fe454f3c66329bdf0687b9586b350e7');
var index = client.initIndex('dev_comptes');
//initialize autocomplete on search input (ID selector must match)
autocomplete('#paying-account',
{ hint: false }, {
    source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
    //value to be displayed in input control after user's suggestion selection
    displayKey: 'pseudo',
    //hash of templates used when rendering dataset
    templates: {
        //'suggestion' templating function used to render a single suggestion
        suggestion: function(suggestion) {
          return '<span>' +
            suggestion._highlightResult.pseudo.value + '</span> (<span>' +
            suggestion._highlightResult.prenom.value + '</span> <span>' +
            suggestion._highlightResult.nom.value + '</span>)';
        }
    }
});
</script>
{% endraw %}

{% endblock %}