{% extends 'base.html.twig' %}

{% block title %}Tenue du {{ zreport.timestamp|date('d/m/Y H:i:s') }}{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('management_details') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('management_details') }}
{% endblock %}

{% block body %}
    <div class="alert alert-light">
        <h1 class="display-4">Tenue du {{ zreport.timestamp|date('d/m/Y H:i:s') }}</h1>
    </div>

    <h2>Bilan de la tenue</h2>
    <div class="table-responsive mb-2">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Validée par</th>
                <th>Ventes</th>
                <th>Rechargements</th>
                <th>Remboursements</th>
                <th>Total <small>(hors remb.)</small></th>
                <th>Contenu de la caisse</th>
                <th>Contenu du coffre</th>
                <th>Nombre de transactions</th>
                <th class="table-actions"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{ zreport.id }}</th>
                <td>{{ zreport.staff.username }}</td>
                <td>{{ zreport.totalCommand }}€</td>
                <td>{{ zreport.totalRefill }}€</td>
                <td>{{ zreport.totalRefund }}€</td>
                <td>{{ zreport.total }}€</td>
                <td>{{ zreport.treasury.cashRegister }}€</td>
                <td>{{ zreport.treasury.safe }}€</td>
                <td>{{ zreport.transactions|length }}</td>
                <td class="table-actions">
                    <div class="d-flex">
                        <div class="input-group justify-content-around mx-auto">
                            <a class="btn btn-secondary mt-1"
                               href="{{ path('management_runs_treasury_edit', { 'id': zreport.treasury.id }) }}">
                                <i class="fas fa-edit"></i> Trésorerie</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2>Transactions de la tenue</h2>
    <div class="table-responsive mb-3">
        <table id="table" class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Utilisateur</th>
                <th>Compte</th>
                <th>Montant</th>
                <th>Méthode</th>
                <th>Horodatage</th>
                <th class="table-action">Détails</th>
            </tr>
            </thead>

            <tbody>
            {% for transaction in zreport.transactions %}
                <tr>
                    <th>{{ transaction.id }}</th>
                    <td>{{ transaction.staff is not null ? transaction.staff.username : "Utilisateur supprimé" }}</td>
                    <td>{% if transaction.account != NULL %}
                            {{ transaction.account.pseudo }}
                        {% elseif transaction.method == "account" or transaction.type == 3 %}
                            Compte supprimé
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td>{{ transaction.type == 2 ? - transaction.amount : transaction.amount }}€</td>
                    <td>
                        {% if transaction.method == "account" %}
                            Compte
                        {% elseif transaction.method == "cash" %}
                            Liquide
                        {% elseif transaction.method == "pumpkin" %}
                            Pumpkin
                        {% elseif transaction.method == "card" %}
                            Carte Bleue
                        {% else %}
                            Non reconnue
                        {% endif %}
                    </td>
                    <td>{{ transaction.timestamp|date('H:i:s d/m/Y') }}</td>
                    <td class="table-action">
                        <div class="d-flex justify-content-center">
                            {% if transaction.type == 1 %}
                                <div class="btn-group dropleft">
                                    <button type="button" class="btn btn-secondary dropdown-toggle no-arrow"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-info-circle" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <h6 class="dropdown-header">Articles achetés</h6>
                                        {% if transaction.details is not empty %}
                                            {% for detail in transaction.details %}
                                                <span class="dropdown-item">{{ detail.article.name }} : {{ detail.quantity }}</span>
                                            {% endfor %}
                                        {% else %}
                                            <span class="dropdown-item">Articles supprimés</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% elseif transaction.type == 2 %}
                                {% if transaction.details is not empty %}
                                    <div class="btn-group dropleft">
                                        <button type="button" class="btn btn-secondary dropdown-toggle no-arrow"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-minus" aria-hidden="true"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <h6 class="dropdown-header">Articles retournés</h6>
                                            {% for detail in transaction.details %}
                                                <span class="dropdown-item">{{ detail.article.name }} : {{ detail.quantity }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary" data-toggle="tooltip"
                                                data-placement="left" title="Reboursement">
                                            <i class="fas fa-minus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                {% endif %}
                            {% elseif transaction.type == 3 %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip"
                                            data-placement="left" title="Rechargement">
                                        <i class="fas fa-gas-pump" aria-hidden="true"></i>
                                    </button>
                                </div>
                            {% else %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger" data-toggle="tooltip"
                                            data-placement="left" title="Type de transaction inconnue">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
