{% extends 'base.html.twig' %}

{% block title %}{{ mode == 'new_article' ? 'Ajouter un article' : "Modifier l'article : " ~ nom ~ " (" ~ type ~ ")" }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/stock.css') }}">
{% endblock %}

{% block javascripts %}
<script>
    if (document.getElementById("appbundle_stocks_type") == null && document.getElementById("appbundle_stocks_volume").value == "0") {
        document.getElementById("appbundle_stocks_volume").disabled = true;
    }
    document.getElementById("appbundle_stocks_type").onchange = function () {
        if (this.value == "article") {
            document.getElementById("appbundle_stocks_volume").value = "0";
        }
        document.getElementById("appbundle_stocks_volume").disabled = (this.value == "article");
    }
</script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="alert alert-light">
            <h1 class="display-4">{{ mode == 'new_article' ? 'Ajouter un article' : "Modifier l'article : " ~ nom ~ " (" ~ type ~ ")" }}</h1>
        </div>

        {{ form_start(form) }}
            {{ form_errors(form) }}
            {% if mode == 'new_article' %}
                {{ form_row(form.nom) }}
                {{ form_row(form.type) }}
            {% endif %}
            {{ form_rest(form) }}

            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Action sur la page">
                <button type="submit" class="btn btn-success btn-lg col-md-8">
                    {{ mode == 'new_article' ? '<i class="fas fa-plus-circle"></i> Ajouter' : '<i class="fas fa-save"></i> Modifier' }}</button>
        {{ form_end(form) }}
                
                <button class="btn btn-danger btn-lg col-md-3" href="{{path('stock')}}">
                    <i class="fas fa-times"></i> {{ mode == 'new_article' ? 'Annuler l\'ajout' : 'Annuler la modification' }}
                </button>
            </div>

    </div>

{% endblock %}