{% extends 'base.html.twig' %}

{% block title %}Préparation{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/stock.css') }}">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1>Articles disponibles ce soir</h1>
    <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom pression</th>
                    <th scope="col">Prix de la pinte ( Prix du demi = prix de la pinte/2 + 0.5)</th>
                    <th scope="col">Fûts restants</th>
                </tr>
            </thead>

            <tbody>
                {% for beer in drafts_notnull %}
                <tr>
                    <th scope="row">{{ beer.idarticle }}</th>
                    <th scope="row">{{ beer.nom }}</th>
                    <td id="afficheStock-prix">{{ beer.prixVente }} ( {{beer.prixVente / 2 + 0.5}} )</td>
                    <td id="afficheStock-quantiteRestante">{{ beer.quantite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom bouteille</th>
                    <th scope="col">Prix de vente</th>
                    <th scope="col">Bouteilles restantes</th>
                </tr>
            </thead>
            
            <tbody>
                {% for bottle in bottles_notnull %}
                <tr>
                    <th scope="row">{{ bottle.idarticle }}</th>
                    <th scope="row">{{ bottle.nom }}</th>
                    <td id="afficheStock-prix">{{ bottle.prixVente }}</td>
                    <td id="afficheStock-quantiteRestante">{{ bottle.quantite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom article</th>
                    <th scope="col">Prix de vente</th>
                    <th scope="col">Articles restants</th>
                </tr>
            </thead>
            
            <tbody>
                {% for item in article_notnull %}
                <tr>
                    <th scope="row">{{ item.idarticle }}</th>
                    <th scope="row">{{ item.nom }}</th>
                    <td id="afficheStock-prix">{{ item.prixVente }}</td>
                    <td id="afficheStock-quantiteRestante">{{ item.quantite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}