{% extends 'base.html.twig' %}

{% block title %}Préparation{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/preparation.css') }}">
{% endblock %}

{% block javascripts %}
<script>
    
    $("#submit").on("click", function(){
        var articlesForSale = [];
        $(".isForSale").each(function (){
            if ($(this).hasClass('active')){
                articlesForSale.push($(this).find('input').attr("class"));
            }
        })
        console.log(articlesForSale);
        var list = JSON.stringify(articlesForSale);

        $(this).attr("href", "{{ path('preparation') }}?articlesForSale="+list);
        $(this).attr("id", "done");
        $('#done').click();
    });
    /*
    function url_redirect(options){
        var $form = $("<form />");
        
        $form.attr("action",options.url);
        $form.attr("method",options.method);
        
        for (var data in options.data)
            $form.append('<input type="hidden" name="'+data+'" value="'+options.data[data]+'" />');
        
        $("body").append($form);
        $form.submit();
    }

    $("#submit").on("click", function(){
        var articlesForSale = [];
        $(".isForSale").each(function (){
            if ($(this).hasClass('active')){
                articlesForSale.push($(this).find('input').attr("class"));
            }
        })
        console.log(articlesForSale);
        var list = JSON.stringify(articlesForSale);
        
        var url = "{{ path('preparation') }}";
        var method = "post";
        var varName = "articlesForSale";
        var varValue = list;

        var $form = $("<form />");
        
        $form.attr("action",url);
        $form.attr("method",method);
        
        $form.append("<input type='hidden' name='"+varName+"' value='"+varValue+"' />");
        
        $("body").append($form);
        $form.submit();
    });
    */

</script>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="alert alert-secondary">
        <h1>Articles disponibles ce soir</h1>
    </div>
    
    <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Nom pression</th>
                    <th scope="col">Prix de la pinte ( Prix du demi = prix de la pinte/2 + 0.5)</th>
                    <th scope="col">Fûts restants</th>
                </tr>
            </thead>
            <tbody>
                {% for form in draftForms %}
                    {{ form_start(form) }}
                        <tr>
                            <th scope="row">
                                {{ form_row(form.isForSale) }}
                            </th>
                            <th scope="row">
                                {{ form_widget(form.nom, {'attr': {'class': ""}}) }}
                            </th>
                            <th scope="row">
                                {{ form_widget(form.prixVente, {'attr': {'class': ""}}) }}
                            </th>
                            <th scope="row">
                                {{ form_widget(form.quantite, {'attr': {'class': ""}}) }}
                            </th>
                        </tr>
                    {{ form_end(form) }}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Nom bouteille</th>
                    <th scope="col">Prix de vente</th>
                    <th scope="col">Bouteilles restantes</th>
                </tr>
            </thead>
            <tbody>
                {% for form in bottleForms %}
                    {{ form_start(form) }}
                        <tr>
                            <th scope="row">
                                {{ form_row(form.isForSale) }}
                            </th>
                            <th scope="row">
                                {{ form_widget(form.nom, {'attr': {'class': ""}}) }}
                            </th>
                            <th scope="row">
                                {{ form_widget(form.prixVente, {'attr': {'class': ""}}) }}
                            </th>
                            <th scope="row">
                                {{ form_widget(form.quantite, {'attr': {'class': ""}}) }}
                            </th>
                        </tr>
                    {{ form_end(form) }}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Nom article</th>
                    <th scope="col">Prix de vente</th>
                    <th scope="col">Articles restants</th>
                </tr>
            </thead>
            <tbody>
                {% for form in articleForms %}
                    {{ form_start(form) }}
                        <tr>
                            <th scope="row">
                                {{ form_row(form.isForSale) }}
                            </th>
                            <th scope="row">
                                {{ form_widget(form.nom, {'attr': {'class': ""}}) }}
                            </th>
                            <th scope="row">
                                {{ form_widget(form.prixVente, {'attr': {'class': ""}}) }}
                            </th>
                            <th scope="row">
                                {{ form_widget(form.quantite, {'attr': {'class': ""}}) }}
                            </th>
                        </tr>
                    {{ form_end(form) }}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary btn-lg btn-block" type="submit">
        Mettre à jour</button>

    <div class="alert alert-secondary">
        <h1>Contenu de la caisse</h1>
    </div>
</div>

    {# <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Nom pression</th>
                    <th scope="col">Prix de la pinte ( Prix du demi = prix de la pinte/2 + 0.5)</th>
                    <th scope="col">Fûts restants</th>
                </tr>
            </thead>

            <tbody>
                {% for beer in drafts_notnull %}
                <tr>
                    <th scope="row">
                        <div class="btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary isForSale {{ beer.isForSale == 1 ? 'active' : '' }}">
                                <input type="checkbox" checked autocomplete="off" class="{{ beer.idarticle }}">A vendre
                            </label>
                        </div>
                    </th>
                    <th scope="row">{{ beer.nom }}</th>
                    <td id="afficheStock-prix">{{ beer.prixVente }} ( {{beer.prixVente / 2 + 0.5}} )</td>
                    <td id="afficheStock-quantiteRestante">{{ beer.quantite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Nom bouteille</th>
                    <th scope="col">Prix de vente</th>
                    <th scope="col">Bouteilles restantes</th>
                </tr>
            </thead>
            
            <tbody>
                {% for bottle in bottles_notnull %}
                <tr>
                    <th scope="row">
                        <div class="btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary isForSale {{ bottle.isForSale == 1 ? 'active' : '' }}">
                                <input type="checkbox" checked autocomplete="off" class="{{ bottle.idarticle }}">A vendre
                            </label>
                        </div>
                    </th>
                    <th scope="row">{{ bottle.nom }}</th>
                    <td id="afficheStock-prix">{{ bottle.prixVente }}</td>
                    <td id="afficheStock-quantiteRestante">{{ bottle.quantite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Nom article</th>
                    <th scope="col">Prix de vente</th>
                    <th scope="col">Articles restants</th>
                </tr>
            </thead>
            
            <tbody>
                {% for item in articles_notnull %}
                <tr>
                    <th scope="row">
                        <div class="btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary isForSale {{ item.isForSale == 1 ? 'active' : '' }}">
                                <input type="checkbox" checked autocomplete="off" class="{{ item.idarticle }}">A vendre
                            </label>
                        </div>
                    </th>
                    <th scope="row">{{ item.nom }}</th>
                    <td id="afficheStock-prix">{{ item.prixVente }}</td>
                    <td id="afficheStock-quantiteRestante">{{ item.quantite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary btn-lg btn-block" id="submit" href="">
        Valider les mises en vente</a>

    <div class="alert alert-secondary">
        <h1>Contenu de la caisse</h1>
    </div>
</div> #}

{% endblock %}