{% extends 'base.html.twig' %}

{% block title %}{{ "Paramètres"|trans }}{% endblock %}

{% block body %}
    <div class="alert alert-light">
        <h1 class="display-4">{{ "Paramètres"|trans }}</h1>
    </div>

    {% for setting in settings %}
        {% if setting.type is same as('mode') and setting.parameters['state'] == 1 %}
            <div class="alert alert-warning alert-link text-capitalize" role="alert">
                {{ "Mode"|trans }} <a href="{{ path('modes_index') }}">{{ setting.name }}</a> {{ "actif"|trans }}.
            </div>
        {% endif %}
    {% endfor %}

    <div class="accordion" id="accordionModule">
        <div class="card">
            <div class="card-header d-flex justify-content-between" id="cardModes">
                <button class="list-elt text-uppercase btn btn-link text-secondary font-weight-bold" type="button"
                        data-toggle="collapse" data-target="#collapseModesDescription"
                        aria-expanded="true" aria-controls="collapseModesDescription">
                    {{ "Modes de l'application"|trans }}
                </button>
                <a class="btn btn-primary" href="{{ path('modes_index') }}">
                    {{ 'Ouvrir'|trans }}</span>
                </a>
            </div>
            <div id="collapseModesDescription" class="collapse show" aria-labelledby="cardModes"
                 data-parent="#accordionModule">
                <div class="card-body text-justify">
                    {{ "Permet de passer d'un mode à un autre. Un mode définit le comportement de l'application pour des utilisations particulières."|trans }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
