<!DOCTYPE html>
<html lang="fr_FR">
<head>
    <meta charset="utf-8"/>
    <link rel='shortcut icon' type='image/x-icon' href='{{ asset('images/logo.ico') }}' />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ asset('lib/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    {% block stylesheet %}{% endblock %}
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <script src="{{ asset('lib/jquery.js') }}"></script>
    <script src="{{ asset('js/nav.js') }}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="{{ asset('images/logo.png') }}" alt="Logo" style="width:110px;">
            </a>

            <button {# id="header-toggler" #} class="navbar-toggler" type="button" data-toggle="collapse"
                     data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse {# menu #}" id="navbarNavDropdown">
                <ul class="navbar-nav {# .justify-content-center #}">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url('homepage') }}"><i class="fa fa-home" aria-hidden="true"></i>
                            Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('purchase') }}"><i class="fa fa-money-bill-wave"></i> Caisse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('stock') }}"><i class="fa fa-boxes"
                            aria-hidden="true"></i> Stock</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% if is_granted(expression('"ROLE_INTRO" in roles')) %}
                                <a class="dropdown-item" href="#"><i class="fa fa-cog"></i> {{ app.user.username }}</a>
                                <a class="dropdown-item" href="#">Autre action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ path('login') }}">Se connecter</a>
                            {% endif %}
                        </div>
                    </li>
                    {# <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li> #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% if is_granted(expression('"ROLE_INTRO" in roles')) %}
                                <a class="dropdown-item" href=" {{ path('preparation') }}">Préparer la tenue</a>
                                <div class="dropdown-divider"></div>
                            {% else %}
                                <a class="dropdown-item" href="{{ path('login') }}">Se connecter</a>
                            {% endif %}
                        </div>
                    </li>
                     
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>  
        </nav>
    </header>

    {% block body %}{% endblock %}

    <footer>

        <script src="{{ asset('lib/bootstrap.js') }}"></script>
        <script src="{{ asset('lib/jquery.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </footer>

</body></html>