{% extends 'base.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">    
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Pseudo</th>
                    <th>Solde</th>
                    <th>Année</th>
                    <th>Nom de Staff</th>
                    <th>Intronisé</th>
                </tr>
            </thead>

            <tbody>
                {% for gens in comptes %}
                    <tr>
                        <td id="afficheComptes-nom">{{ gens.nom }}</td>
                        <td id="afficheComptes-prenom">{{ gens.prenom }}</td>
                        <td id="afficheComptes-pseudo">{{ gens.pseudo }}</td>
                        <td id="afficheComptes-solde">{{ gens.solde }}</td>
                        <td id="afficheComptes-annee">{{ gens.annee }}</td>
                        <td id="afficheComptes-nomStaff">{{ gens.nomStaff }}</td>
                        {% if gens.isIntro == 1 %}
                            <td id="afficheComptes-is_intro">OUI</td>
                        {% else %}
                            <td id="afficheComptes-is_intro">NON</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
    </div> 
{% endblock %}