{% extends 'base.html.twig' %}

{% block title %}{{ mode == 'new_account' ? 'Créer un compte' : "Modifier " ~ prenom ~ " " ~ nom }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="alert alert-light">
        <h1 class="display-4">{{ mode == 'new_account' ? 'Créer un compte' : "Modifier le compte de " ~ prenom ~ " " ~ nom }}</h1>
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {% if mode == 'modify_account' %}
            {{ form_row(form.nomStaff) }}
        {% endif %}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.pseudo) }}
        {% if mode == 'new_account' %}
          {{ form_row(form.solde, { 'attr' : {'placeholder' : '0.00', 'value' : '0.00'} }) }}
          {{ form_row(form.annee, { 'attr' : {'placeholder' : '1', 'value' : '1'} }) }}
      {% endif %}
        {{ form_rest(form) }}

    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Action sur la page">
            <button type="submit" class="btn btn-success col-8">
                {{ mode == 'new_account' ? '<i class="fas fa-plus-circle"></i> Créer le compte' : '<i class="fas fa-save"></i> Enregister les modifications' }}</button>
        {{ form_end(form) }}

        <button class="btn btn-danger col-3" href="{{ path('comptes') }}">
            <i class="fas fa-times"></i> Annuler
        </button>
    </div>
{% endblock %}
