{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.solde) }}
    {{ form_row(form.annee) }}
    {{ form_row(form.is_intro) }}

    <button type="submit" button="btn btn-success btn-lg btn-block">Enregistrer</button> {# ce bouton ne prend pas sa forme "success", il est moche sans raison #} 
{{ form_end(form) }}
{% endblock %}