{% extends 'base.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
    <link rel="stylesheet" href="{{ asset('css/comptes.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block javascripts %}
    <script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#table').DataTable( {
                "language": {
                    "decimal":        ".",
                    "emptyTable":     "Aucune donnée disponible dans le tableau",
                    "info": "Page _PAGE_ sur _PAGES_",
                    "infoEmpty":      "Aucune entrée disponible",
                    "infoFiltered":   "(d'après les _MAX_ entrées)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Afficher _MENU_ entrées par page",
                    "loadingRecords": "Chargement...",
                    "processing":     "En traitement...",
                    "search":         "Rechercher:",
                    "zeroRecords":    "Aucune entrée correspondante trouvée",
                    "paginate": {
                        "first":      "Début",
                        "last":       "Fin",
                        "next":       "Suivante",
                        "previous":   "Précédente"
                    },
                    "aria": {
                        "sortAscending":  ": activer pour trier dans l'ordre croissant",
                        "sortDescending": ": activer pour trier dans l'ordre décroissant"
                    }
                },
                "order": [[0, 'desc']],
                "columnDefs": [
                    { "orderable": false, "targets": 8 }
                ]
            } );
        } );
    </script>
{% endblock %}

{% block body %}
    <div class="alert alert-light">
        <h1 class="display-4">Gestion des comptes</h1>
    </div>
  
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fa fa-save"></i> Information : {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    
    <a class="btn btn-success btn-lg btn-block" href="{{ path('ajout_compte') }}"><i class="fas fa-plus-circle"></i> Créer un compte</a>
  
    <div class="table-responsive pb-3 mt-3">
        <table id="table" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Pseudo</th>
                    <th>Solde</th>
                    <th>Année</th>
                    <th>Nom de Staff</th>
                    <th>Intronisé</th>
                    <th class="table-actions"></th>

                </tr>
            </thead>

            <tbody>
                {% for compte in comptes %}
                <tr>
                    <th id="afficheComptes-id">{{ compte.id }}</th>
                    <td id="afficheComptes-nom">{{ compte.nom }}</td>
                    <td id="afficheComptes-prenom">{{ compte.prenom }}</td>
                    <td id="afficheComptes-pseudo">{{ compte.pseudo }}</td>
                    <td id="afficheComptes-solde">{{ compte.solde }}€</td>
                    <td id="afficheComptes-annee">{{ compte.annee }}</td>
                    <td id="afficheComptes-nomStaff">{{ compte.nomStaff }}</td>
                    {% if compte.isIntro == 1 %}
                    <td id="afficheComptes-is_intro">OUI</td>
                    {% else %}
                    <td id="afficheComptes-is_intro">NON</td>
                    {% endif %}
                    <td class="table-actions">
                        <div class="d-flex">
                            <div class="input-group justify-content-around mx-auto">
                                <a class="btn btn-secondary mt-1" href="{{ path('modif_compte', { 'id':compte.id }) }}">
                                    <i class="fas fa-edit"></i> Modif.</a>
                                <a class="btn btn-success mt-1" href="{{path('recharger_compte', {'id':compte.id})}}">
                                    <i class="fas fa-gas-pump"></i> Rech.</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
