{% extends 'base.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    {# PROJET : pouvoir pouvoir un filtre sur chaque head de colonne (à la mode Excel) #}
    <div class="container-fluid">
        <div class="table-responsive pad-t">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Pseudo</th>
                        <th>Solde</th>
                        <th>Année</th>
                        <th>Nom de Staff</th>
                        <th>Intronisé</th>
                    </tr>
                </thead>

                <tbody>
                    {% for compte in comptes %}
                    <tr>
                        <th id="afficheComptes-id">
                            <a href="{{ path(" modify_compte ", { 'idcompte':compte.idcompte }) }}">{{ compte.idcompte }}</a>
                        </th>
                        <td id="afficheComptes-nom">{{ compte.nom }}</td>
                        <td id="afficheComptes-prenom">{{ compte.prenom }}</td>
                        <td id="afficheComptes-pseudo">{{ compte.pseudo }}</td>
                        <td id="afficheComptes-solde">{{ compte.solde }}</td>
                        <td id="afficheComptes-annee">{{ compte.annee }}</td>
                        <td id="afficheComptes-nomStaff">{{ compte.nomStaff }}</td>
                        {% if compte.isIntro == 1 %}
                        <td id="afficheComptes-is_intro">OUI</td>
                        {% else %}
                        <td id="afficheComptes-is_intro">NON</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-success btn-lg btn-block" href="{{ path('create_compte') }}">Créer un compte</a>
        <button type="button" class="btn btn-warning">Pour modifier un compte, cliquez sur son ID</button>
        {# le bouton modifier a pour lien la page de création alors qu'il n'a pas de
        <a href=""> #}
</div>
{% endblock %}