{% extends 'base.html.twig' %}

{% block title %}{{ "Recharger " ~ pseudo }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}
    <div class="alert alert-light center">
        <h1 class="display-4">Recharger le compte : {{ pseudo }}</h1>
    </div>

    {{form_start(form)}}
    {{form_errors(form)}}

    {{form_label(form.montant, 'Montant du rechargement')}}
    {{form_widget(form.montant)}}

    <div class="input-group w-100 my-2">
        <div class="btn-group btn-group-md btn-group-toggle mx-auto moyen_paiement" data-toggle="buttons">

            {#<label class="btn btn-success" onclick="choixPaiement('cb')">
                <input type="radio" id="option1">
                <i class="fa fa-credit-card"></i> Carte Bleue
            </label>#}

            <label class="btn btn-success active" onclick="$('#methode-paiement').attr('value', 'cash')">
                <input class="choix-paiement" type="radio" id="option1">
                <i class="fa fa-money-bill-alt"></i> Liquide
            </label>

            <label class="btn btn-success" onclick="$('#methode-paiement').attr('value', 'pumpkin')">
                <input class="choix-paiement" type="radio" id="option2">
                <i class="fa fa-mobile-alt"></i> Pumpkin
            </label>
        </div>
    </div>

    <input id="methode-paiement" name="methode" value="cash" hidden/>

    <button type="submit" class="btn btn-success btn-block"><i class="fa fa-gas-pump" aria-hidden="true"></i> Recharger</button>
    {{form_rest(form)}}
    {{form_end(form)}}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/methode-paiement.js') }}"></script>
{% endblock %}
