{% extends 'base.html.twig' %}

{% block title %}{{ form_mode == 'new_article' ? 'Ajouter un article' : "Modifier l'article : " ~ nom ~ " (" ~ type ~ ")" }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/stock.css') }}">
{% endblock %}

{% block javascripts %}
<script>
    document.getElementById("appbundle_stocks_type").onchange = function () {
        if (this.value === "1" || this.value === "2") {
            $("#volume-row").collapse('show');
            $("#appbundle_stocks_volume").attr('disable', 'false');
        } else {
            $("#volume-row").collapse('hide');
            $("#appbundle_stocks_volume").attr('disable', 'true');
        }
    }
</script>
{% endblock %}

{% block body %}
    <div class="alert alert-light">
        {% if form_mode == 'new_article' %}
          <h1 class="display-4">Ajouter un article</h1>
      {% else %}
          <h1 class="display-4">Modifier un article</h1>
          <p class='lead'>{{ name }} ({{ type }})</p>
      {% endif %}
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}
    {% if form_mode == 'new_article' %}
            {{ form_row(form.name) }}
            {{ form_row(form.type) }}
        {% endif %}
        {{ form_row(form.cost) }}
        {{ form_row(form.sellingPrice) }}
        {{ form_row(form.quantity) }}
    {% if form_mode == 'new_article' %}
        <div class="collapse" id="volume-row" aria-expanded="false">
            {{ form_row(form.volume) }}
        </div>
    {% endif %}
    {{ form_rest(form) }}

    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Action sur la page">
        <button type="submit" class="btn btn-success btn-lg col-md-8">
            {{ form_mode == 'new_article' ? '<i class="fas fa-plus-circle"></i> Ajouter' : '<i class="fas fa-save"></i> Modifier' }}</button>
        {{ form_end(form) }}

        <a class="btn btn-danger btn-lg col-md-3" href="{{ path('articles_index') }}">
            <i class="fas fa-times"></i> {{ form_mode == 'new_article' ? 'Annuler l\'ajout' : 'Annuler la modification' }}
        </a>
    </div>
{% endblock %}
