{% extends 'base.html.twig' %}

{% block title %}Stocks{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/stock.css') }}">
{% endblock %}

{% block javascripts %}
<script src="https://use.fontawesome.com/7af49feb1a.js"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    {# Refaire ce script avec Symfony
        <?php if (!empty($errors)): ?>
            <div class="alert alert-danger pad-t">
                <p>Vous n'avez pas rempli le formulaire correctement</p>
                <ul>
                    <?php foreach ($errors as $error): ?>
                        <li><?= $error; ?></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?> #}

    <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom pression</th>
                    <th scope="col">Prix à l'achat (pinte)</th>
                    <th scope="col">Prix à la vente</th>
                    <th scope="col">Fûts restants</th>
                    {# <th scope="col">Pintes achetées</th> #}
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for beer in drafts %}
                <tr>
                    <th scope="row">{{ beer.idarticle }}</th>
                    <th scope="row">{{ beer.nom }}</th>
                    <td id="afficheStock-cout">{{ beer.prixAchat }} ({{ (beer.prixAchat - 30) / beer.volume /2 }})</td>
                    <td id="afficheStock-prix">{{ beer.prixVente }}</td>
                    <td id="afficheStock-quantiteRestante">{{ beer.quantite }}</td>
                    {# <td id="afficheStock-quantiteAchat">{{ beer.nbSoldeCurrent }}</td> #}
                    <td>
                        <a class="btn btn-outline-info" href="{{ path("details_article", { 'id_article': beer.idarticle }) }}">MODIFIER</a>
                        <a class="btn btn-danger" href="{{ path('suppr_article', {'idarticle': beer.idarticle}) }}">SUPPRIMER</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom bouteille</th>
                    <th scope="col">Prix à l'achat</th>
                    <th scope="col">Prix de vente</th>
                    <th scope="col">Bouteilles restantes</th>
                    {# <th scope="col">Bouteilles achetées</th> #}
                    <th scope="col">Action</th>
                </tr>
            </thead>
            
            <tbody>
                {% for bottle in bottles %}
                <tr>
                    <th scope="row">{{ bottle.idarticle }}</th>
                    <th scope="row">{{ bottle.nom }}</th>
                    <td id="afficheStock-cout">{{ bottle.prixAchat }}</td>
                    <td id="afficheStock-prix">{{ bottle.prixVente }}</td>
                    <td id="afficheStock-quantiteRestante">{{ bottle.quantite }}</td>
                    {# <td id="afficheStock-quantiteAchat">{{ bottle.nbSoldeCurrent }}</td> #}
                    <td>
                        <a class="btn btn-outline-info" href="{{ path("details_article", { 'id_article': bottle.idarticle }) }}">MODIFIER</a>
                        <a class="btn btn-danger" href="{{ path('suppr_article', {'idarticle': bottle.idarticle}) }}">SUPPRIMER</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive pad-t">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom article</th>
                    <th scope="col">Prix à l'achat</th>
                    <th scope="col">Prix de vente</th>
                    <th scope="col">Articles restants</th>
                    {# <th scope="col">Articles achetés</th> #}
                    <th scope="col">Action</th>
                </tr>
            </thead>
            
            <tbody>
                {% for item in article %}
                <tr>
                    <th scope="row">{{ item.idarticle }}</th>
                    <th scope="row">{{ item.nom }}</th>
                    <td id="afficheStock-cout">{{ item.prixAchat }}</td>
                    <td id="afficheStock-prix">{{ item.prixVente }}</td>
                    <td id="afficheStock-quantiteRestante">{{ item.quantite }}</td>
                    {# <td id="afficheStock-quantiteAchat">{{ item.nbSoldeCurrent }}</td> #}
                    <td>
                        <a class="btn btn-outline-info" href="{{ path("details_article", { 'id_article': item.idarticle }) }}">MODIFIER</a>
                        <a class="btn btn-danger" href="{{ path('suppr_article', {'idarticle': item.idarticle}) }}">SUPPRIMER</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pull-right pad-t">
        <a class="btn btn-success" href="{{ url('ajout_article') }}">Ajouter un article</a>
    </div>

    {# Refaire cette méthode avec Doctrine -->
    <div class="popup-addArticle" >
        <i id="addArticle-close" class="fa fa-close"></i>
        <h1>Nouvel article</h1>

        <form class=popup-addArticle-form method="POST" action="php/addArticles-post.php">
            <i class="fa fa-beer"></i>
            <input type="text" placeholder="Nom" name="nom"> <br>
            <i class="fa fa-money"></i>
            <input type="number" placeholder="Prix d'achat" name="prixAchat"><br>
            <input type="number" placeholder="Prix de vente" name="prixVente"><br>
            <input type="number" placeholder="Quantité" name="quantite">
            <button type="submit" name="submit">Ajouter</button>
        </form>

    </div>



    <div class="popup-modifyArticle" >
        <i id="modifyArticle-close" class="fa fa-close"></i>
        <h1>Modifier Article</h1>


        <form class="popup-modifyArticle-form" method="POST">
            <i class="fa fa-beer"></i>
            <input type="text" name="nom"> <br>
            <i class="fa fa-money"></i>
            <input type="number" name="prix"><br>
            <input type="number"name="quantite">
            <button type="submit" name="submit">Modifier</button>

        </form>

    </div> #}

</div>
{% endblock %}