{% extends 'base.html.twig' %}

{% block title %}Stocks{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/stock.css') }}">
{% endblock %}

{% block javascripts %}
<script src="https://use.fontawesome.com/7af49feb1a.js"></script>
{% endblock %}

{% block body %}
<div class="options-right">
    <a href="#" id="addArticle" class="enable"> Ajouter un article</a>
</div>



<div class="popup-addArticle" >
    <i id="addArticle-close" class="fa fa-close"></i>
    <h1>Nouvel Article</h1>


    <form class=popup-addArticle-form method="POST" action="php/addArticles-post.php">
        <i class="fa fa-beer"></i>
        <input type="text" placeholder="nom" name="nom"> <br>
        <i class="fa fa-money"></i>
        <input type="number" placeholder="Prix" name="prix"><br>
        <input type="number" placeholder="Quantité" name="quantite">
        <button type="submit" name="submit">Ajouter</button>


    </form>

    <script src="js/addArticles.js"></script>
</div>



<div class="popup-modifyArticle" >
    <i id="modifyArticle-close" class="fa fa-close"></i>
    <h1>Modifier Article</h1>


    <form class =popup-modifyArticle-form method="POST">
        <i class="fa fa-beer"></i>
        <input type="text" name="nom"> <br>
        <i class="fa fa-money"></i>
        <input type="number" name="prix"><br>
        <input type="number"name="quantite">
        <button type="submit" name="submit">Modifier</button>

    </form>

</div>



<div class="afficheStock">
<table>

    <tr>
        <th>Nom pression</th>
        <th>Prix</th>
        <th>Fûts restants</th>
        <th>Pintes achetées</th>
    </tr>
    
    {% for beer in drafts %}
        <td class="modifyArticle-link" id="afficheStock-nom"><a href="{{ path('details', { 'id_article': beer.id }) }}">{{ beer.name }}</a></td>
           <td id="afficheStock-prix">{{ beer.price }}</td>
           <td id="afficheStock-quantiteRestante">{{ beer.nbBarrels }}</td>
           <td id="afficheStock-quantiteAchat">{{ beer.nbSoldeCurrent }}</td>
       </tr>
    {% endfor %}
    
</table>

<table>

    <tr>
        <th>Nom bouteille</th>
        <th>Prix</th>
        <th>Bouteilles restantes</th>
        <th>Bouteilles achetées</th>
    </tr>
    
    {% for bottle in bottles %}
        <td class="modifyArticle-link" id="afficheStock-nom"><a href="{{ path("details", { 'id_article': bottle.id }) }}">{{ bottle.name }}</a></td>
           <td id="afficheStock-prix">{{ bottle.price }}</td>
           <td id="afficheStock-quantiteRestante">{{ bottle.nbBottles }}</td>
           <td id="afficheStock-quantiteAchat">{{ bottle.nbSoldeCurrent }}</td>
       </tr>
    {% endfor %}
    
</table>

<table>

    <tr>
        <th>Nom article</th>
        <th>Prix</th>
        <th>Articles restants</th>
        <th>Articles achetés</th>
    </tr>
    
    {% for item in food %}
        <td class="modifyArticle-link" id="afficheStock-nom"><a href="{{ path("details", { 'id_article': item.id }) }}">{{ item.name }}</a></td>
           <td id="afficheStock-prix">{{ item.price }}</td>
           <td id="afficheStock-quantiteRestante">{{ item.nbArticles }}</td>
           <td id="afficheStock-quantiteAchat">{{ item.nbSoldeCurrent }}</td>
       </tr>
    {% endfor %}
    
</table>



</div>
<script src="{{ asset('js/modifyArticle.js') }}"></script>
{% endblock %}